[Desktop Entry]
Encoding=UTF-8
Name=wmnetload
Comment= net load monitor
Comment[pl]=Monitor obciążenia sieci
Exec=wmnetload
Terminal=false
Type=Application
# vi: encoding=utf-8
