[Desktop Entry]
Encoding=UTF-8
Name=wmnetload
Comment= net load monitor
Comment[pl]=Monitor obci±¿enia sieci
Exec=wmnetload
Terminal=false
Type=Application
